{% extends 'layouts/dashboard.html' %}
{% load static %}
{% block main_content %}

<div class="page-wrap">
    <div id="page-content-wrap" class="home-wrap">
        <!-- Main page content -->
        <div class="main-wrap">
            <!--Navtabs-->

            {% include 'includes/messages.html' %}
    <div class="container-fluid">
        <div class="col-12 col-xl-12">
            <div class="mt-4">
                <div class="d-flex justify-content-between">
                    <div class="search-box">
                        <form method="get" action="{% url 'scheduler:scheduler_curriculum' %}">
                            <input type="text" name="weekday" class="form-control" placeholder="Search by weekday..."
                                value="{{ search_weekday }}">
                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div>
                        <a class="btn btn-primary lt-2" href="{% url 'scheduler:add_curriculum' %}">Schedule Curriculum</a>
                    </div>
                </div>
                <div class="card emp-table">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">Weekday</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if show_all %}
                            {% for i in schedule_obj %}
                                <tr>
                                    <td>{{i.weekday|capfirst}}</td>
                                    <td>{{i.schedule_time|time:"g:iA"}}</td>
                                    <td>
                                        <div class="icon-box">
                                            <a href="{% url 'scheduler:edit_curriculum' pk=i.pk %}">
                                                <i class="fa-solid fa-pen-to-square edit"></i></a>
                                                <a href="{% url 'scheduler:delete_curriculum' pk=i.pk %}" class="curs-point" data-bs-toggle="modal" data-bs-target="#deleteCurriculumBackdrop" id="deleteButtonCurriculum{{ i.pk }}"><i class="fa-solid fa-trash-can del"></i></a>

                                                {% include 'modal/link_emp_deleted_modal.html' with modal_id='deleteCurriculumBackdrop' %}


                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No schedules found.</td>
                                </tr>
                            {% endfor %}
                            {% else %}
                            {% for i in schedule_obj %}
                                <tr>
                                    <td>{{i.weekday|capfirst}}</td>
                                    <td>{{i.schedule_time|time:"g:iA"}}</td>
                                    <td>
                                        <div class="icon-box">
                                            <a href="{% url 'scheduler:edit_curriculum' pk=i.pk %}">
                                                <i class="fa-solid fa-pen-to-square edit"></i></a>
                                                <a href="{% url 'scheduler:delete_curriculum' pk=i.pk %}" class="curs-point" data-bs-toggle="modal" data-bs-target="#deleteCurriculumBackdrop" id="deleteButtonCurriculum{{ i.pk }}"><i class="fa-solid fa-trash-can del"></i></a>

                                                                    {% include 'modal/link_emp_deleted_modal.html' with modal_id='deleteCurriculumBackdrop' %}


                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No schedules found.</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="page-box">
                    <nav aria-label="Page navigation">
                        {% if show_all %}
                        <a href="{% url 'scheduler:scheduler_curriculum' %}" class="page-link  d-flex justify-content-center align-items-center m-auto" style="width: 80px;" >
                            <i class="fa-solid fa-arrow-left"   ></i>
                            <span class="ps-2" >Back</span>
                        </a>
                        {% endif %}
                        {% if schedule_obj.has_other_pages %}
                    <ul class="pagination">
                      {% if schedule_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link arrow" href="?page={{ schedule_obj.previous_page_number }}" aria-label="Previous">
                                    <i class="fa-solid fa-angle-left"></i>
                      {% else %}
                        <li class="page-item disabled"  aria-label="Previous"></li>
                      {% endif %}

                      {% for i in schedule_obj.paginator.page_range %}
                        {% if schedule_obj.number == i %}
                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}

                      {% if schedule_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link arrow" href="?page={{ schedule_obj.next_page_number }}" aria-label="Next">
                                <i class="fa-solid fa-angle-right"></i>
                            </a></li>
                      {% else %}
                        <li class="page-item disabled" aria-label="Next"></li>
                      {% endif %}
                      {% if schedule_obj.has_other_pages %}

                      <a href="?show_all=true" class="page-link" style="width: 70px ;">See All</a>

                     {% endif %}
                    </ul>
                  {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
